.headers {
    width: 350px;
    height: 200px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #3a77ff;
}
.my-headers h1 {
    color: #3a77ff;
    margin-left: 20px;
}
.headers input {
    display: flex;
    margin: auto;
    position: relative;
    top: 20px;
    border: 1px solid #3a77ff;;
    padding: 10px;
    border-radius: 5px;
    color: #3a77ff;
}

.headers button {
    display: flex;
    margin: 80px auto;
    padding: 10px;
    width: 200px;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #3a77ff;
    background-color: #3a77ff;
    color: #fff;
}